@charset "utf-8";
/***** 汎用 *****/
* {
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
        Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    box-sizing: border-box;
}
img{
   vertical-align: middle;
}
html {
    font-size: calc(95% + 0.25vw);
}

html, body{
    height: 100%;
}
#wrap{
    min-height: 100%;
}
body, div#wrap {
    position: relative;
}
a {
    color: #2B2B2B;
    text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.is-hide{
    display: none;
}