@charset "utf-8";
img{
   vertical-align: middle;
}
html {
   overflow-y: hidden;
}
#wrap {
   position: relative;
   display: flex;
   flex-direction: column;
}
body{
   background-color: #9cb8b3;
}
#cont{
   display: flex;
   -ms-align-items: center;
   align-items: center;
   flex: auto;
   flex-direction: column;
   padding-top: 10%;
}
/*ヘッダー*/
header {
   height: 48px;
   background-color: rgba(255,255,255, .2);
}
/*ヘッダーナビ*/
#main-nav,
#main-nav ul{
   height: 100%;
}
#main-nav ul{
   height: 100%;
   line-height: 40px;
   padding: 4px 1em;
}
#main-nav ul li{
   float: right;
   margin-left: 2em;
}

#main-nav ul li a{
   position: relative;
   display: inline-block;
   color: rgba(0,0,0,.5);
   font: normal .9em 'Raleway', sans-serif;
}
/*下線アニメーション*/
#main-nav ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  background-color: rgba(0,0,0,.5);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#main-nav ul li a:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
#cont h1{
   font: 900 5em 'Raleway', sans-serif;
   text-shadow: 0 0 6px #efedce;
   pointer-events : none;
   user-select: none;
   touch-callout: none;
   color: #efedce;
   margin-bottom: 48px;
   letter-spacing: 6px;
}
/*フォーム*/
form[name="search-frm"]{
   width: 100%;
   margin-bottom: 3em;
}
#search-wrap{
   display: flex;
   justify-content: center;
   max-width: 500px;
   margin: 0 auto;
}
#search-word{
   margin-bottom: 1em;
}
#search-word p{
   font-size: .9em;
}
#search-word p span{
   margin-left: 1em;
   position: relative;
   font-weight: bold;
}

/*キーワード矢印*/
#search-word p span::before {
	position: absolute;
	top: 50%;
	left: -.5em;
	content: '';
	margin-top: -5px;
	border: 7px solid transparent;
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-left-color: #2b2b2b;
}

/*検索ボックス*/
#search-box{
   box-shadow: 0 2px 2px rgba(0,0,0,0.16);
   transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
   
   border: 1px solid #fbfbfb;
   border-radius: 2px 0 0 2px;
   
   font-size: 1.1em;
   padding: .2em.4em;
   width: 90%;
   display: block;
}
#search-box:hover,
#search-box:focus{
   box-shadow: 0 3px 2px 0 rgba(0,0,0,0.3);
}
#btn-box{
   background-color: rgba(255,255,255,.4);
   display: flex;
   justify-content: center;
   -ms-align-items: center;
   align-items: center;
   border-radius: 0 2px 2px 0;
   cursor: pointer;
}
#search-btn{
   background-color: #3b3b3b;
   min-width: 2em;
   line-height: .9;
   
   color: white;
   display: block;
   border: none;
   background:url(../img/megane.svg) center center /contain no-repeat;
}

/*結果表示エリア*/
#result-area{
   width: 100%;
   max-width: 500px;
   
   background-color: #E1EAE8;
   border-radius: 4px;
   box-shadow: 1px 1px 2px 1px rgba(0,0,0, .3);
}
#result-top{
   padding: 1em .6em;
}
ul#res-links{
}
ul#res-links li{
   display: inline-block;
   margin: .2em;
   
   background-color: rgba(127,117,126, .9);
   border: rgba(92, 85, 84, .8) 2px solid;
   border-radius: .7em;
   transition: box-shadow .3s ease, background-color .3s ease;
   
}
ul#res-links li:hover{
/*   box-shadow: 0 0 0 3px rgba(92, 85, 84, .8) inset;*/
   background-color: rgba(127,117,126, .8);
}
ul#res-links li a{
   display: block;
   padding: .4em .8em;
   
   color: white;
   font-size: .8em;
}
ul#res-links li a img{
   margin-right: .6em;
}

/*全部開くボタン*/
#open-all-btn{
   padding: .4em;
   position: relative;
   
   border-radius: 0 0 4px 4px;
   
   text-align: center;
   background-color: #CB3643;
   font: normal .8em 'Raleway', sans-serif;
   color: white;
   cursor: pointer;
   transition: background-color .3s ease;
}
#open-all-btn:hover{
   background-color: rgba(203,54,67,.9);
}
/*矢印*/
#open-all-btn::after {
	position: absolute;
	top: 50%;
	right: .4em;
	content: '';
	margin-top: -5px;
	border: 7px solid transparent;
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-left-color: #fff;
}
#open-all-btn:hover::after {
	animation: arrow .6s;
   animation-iteration-count:infinite;
}
/*矢印のアニメーション*/
@keyframes arrow {
	50% {
		right: .1em;
	}
	100% {
		right: .4em;
	}
}

/*フッター*/
footer {
   width: 100%;
   line-height: 2;
   font-size: .7em;
   color: rgba(255, 255, 255, .5);
   
   text-align: center;
}
/*intro.js*/
.introjs-tooltiptext{
   font-size: .8em;
   line-height: 1.4;
   color: #7a7a7a;
}
.introjs-helperLayer{
   background-color: rgba(255,255,255,.5);
}
/*チュートリアル時クリック無効*/
.disable{
   pointer-events : none;
   user-select: none;
   touch-callout: none;
}
.is-rel{
   position: relative;
}
#contact-tooltip{
   position: absolute;
   right: 0;
   padding: .6em .8em;

   border: 1px solid #dfdfdf;
   background-color: rgba(255,255,255,.9);
   border-radius: 12px;
   min-width: 16em;
}
#contact-tooltip p{
   line-height: 1.2;
   font-size: .8em;
   color: #7a7a7a;
   text-align: center;
}
#contact-tooltip p span{
  color: #586361;
}
/*ポップアップブロック解除促し*/
span.tut-cap{
   color: crimson;
   margin-top: .5em;
   font-size: .75em;
}
/*モバイル用*/
@media screen and (max-width: 600px) {
   #cont{
      max-width: 90%;
      margin: 0 auto;
   }
   #cont h1{
      font-size: 16vw!important;
   }
}